<table>
    <tr>
        <td>id</td>
        <td>Name</td>
        <td>Genre</td>
    </tr>
    <tr ng-repeat="book in books">
        <td>{{book.id}}</td>
        <td><a href="#" ng-click="loadAuthor(book.id)">{{book.name}}</a></td>
        <td>{{book.genre_name}}</td>
    </tr>
</table>
<hr>
<h1>Create new book</h1>
Enter book name: <input type="text" ng-model="newBook.name"><br>
Select genre:
<select ng-model="newBook.genre_id">
    <option ng-repeat="genre in genres" value="{{genre.id}}">{{genre.name}}</option>
</select><br>

<button ng-click="addBook(newBook.name, newBook.genre_id)">Create!</button><br>
<hr>
<a href="/">Main</a>
